<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net " requirePermission="false" />
  </configSections>
  <log4net>
    <logger name="AnalyzerLogger">
      <appender-ref ref="AnalyzerLogFileAppender"/>
      <level value="ERROR"/>
    </logger>
    <appender name="AnalyzerLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%envFolderPath{CommonApplicationData}\ProxyService\%property{UserName}\%property{LogName}.log" />
      <immediateFlush value="true"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <datePattern value="yyyy-MM-dd-HH-mm" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <immediateFlush>true</immediateFlush>
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="200KB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %location %message%newline" />
      </layout>
    </appender>
  </log4net>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
